/**
 * TABLE OF CONTENTS
 *
 * 1. Datatable 
 * 2. Add More Content JQUERY (Add/Remove) 
 * 3. Permission_table
 * 4. Icon Picker
 * 5. Password Hide/Show 
 *
 */

/* 1. Datatable CSS*/
.dt-buttons,.dataTables_info{
    float: left !important;
}
.dt-buttons button{
    line-height: 18px;
}
.pagination .page-link{
    padding: 8px;
    line-height: 10px;
}
.dataTables_length select.form-control:not([size]):not([multiple]){
    font-size: 14px;
    padding: 5px;
    width: 60px;
    height: 30px;
}

/* 2. Add More Content JQUERY (Add/Remove)*/
.addContent .item{
    position: relative;
    margin-bottom: 5px
}
.addContent input{
    width: 92%;
}
.addContent .addMore,.addContent .removeLast{
    position: absolute;
    right: 0;
    top: 0px;
}

/* 3. Permission_table */
.permission_table tr td{
    padding-bottom: 0px
}

/* 4. Icon Picker  */
.table-icons .btn {
    min-height: 30px;
    min-width: 35px;
    text-align: center;
    padding: 0;
    margin: 2px;
    background: #0071FF;
    color: white;
}
.table-icons .btn:hover{
    background: #000 !important;
    color: white;
}

/* 5. Password Hide/Show */
.pass_hide_show{
    position: relative;
}
.pass_hide_show input{
    width: 93%;
}
.pass_hide_show .action-btn{
    width: 7%;
    position: absolute;
    right: -5px;
    padding: 10px;
    top: 28px;
    cursor: pointer;
}