:root{
	
	/* Primary */
	--primary: #91EC24;
	--primary-hover: #6dbf0a;
	--primary-dark: #6dbf0a;
	--primary-text: #91EC24;
	
	/* Primary RGBA */
	--rgba-primary-1: rgba(145,236,36,0.1);
	--rgba-primary-2: rgba(145,236,36,0.2);
	--rgba-primary-3: rgba(145,236,36,0.3);
	--rgba-primary-4: rgba(145,236,36,0.4);
	--rgba-primary-5: rgba(145,236,36,0.5);
	--rgba-primary-05: rgba145,236,36,0.05);
	--rgba-primary-6: rgba(145,236,36,0.6);
	--rgba-primary-7: rgba(145,236,36,0.7);
	--rgba-primary-8: rgba(145,236,36,0.8);
	--rgba-primary-9: rgba(145,236,36,0.9);
	
	/* Secondary RGBA */
	--rgba-secondary-1: rgba(5,50,81,0.1);
	--rgba-secondary-2: rgba(5,50,81,0.2);
	--rgba-secondary-3: rgba(5,50,81,0.3);
	--rgba-secondary-4: rgba(5,50,81,0.4);
	--rgba-secondary-5: rgba(5,50,81,0.5);
	--rgba-secondary-6: rgba(5,50,81,0.6);
	--rgba-secondary-7: rgba(5,50,81,0.7);
	--rgba-secondary-8: rgba(5,50,81,0.8);
	--rgba-secondary-9: rgba(5,50,81,0.9);
	
	
	--theme1-bg-pattern1: url(../images/pattern/theme/bg-pattern2.html);
	--theme1-bg-pattern2: url(../images/main-slider/slider2/background/bg2.png);
	
	--theme3-bg-color: #093858;
	--theme3-secondary: #053251;
	--theme3-secondary2: #031a2a;
	
	/* Other */
	--dark: #053251;
	--title: #232323;
	--secondary: #053251;
	--secondary-dark: #0D4267;
	--theme-text-color: #fff;
	--secondary-dark : #1c4a6c;
	
}
