:root{
	
	/* Primary */
	--primary: #FF51A4;
	--primary-hover: #eb187d;
	--primary-dark: #db0a6e;
	--primary-text: #FF51A4;
	
	/* Primary RGBA */
	--rgba-primary-1: rgba(255,81,164,0.1);
	--rgba-primary-2: rgba(255,81,164,0.2);
	--rgba-primary-3: rgba(255,81,164,0.3);
	--rgba-primary-4: rgba(255,81,164,0.4);
	--rgba-primary-5: rgba(255,81,164,0.5);
	--rgba-primary-05: rgba(255,81,164,0.05);
	--rgba-primary-6: rgba(255,81,164,0.6);
	--rgba-primary-7: rgba(255,81,164,0.7);
	--rgba-primary-8: rgba(255,81,164,0.8);
	--rgba-primary-9: rgba(255,81,164,0.9);
	
	/* Secondary RGBA */
	--rgba-secondary-1: rgba(26,31,68,0.1);
	--rgba-secondary-2: rgba(26,31,68,0.2);
	--rgba-secondary-3: rgba(26,31,68,0.3);
	--rgba-secondary-4: rgba(26,31,68,0.4);
	--rgba-secondary-5: rgba(26,31,68,0.5);
	--rgba-secondary-6: rgba(26,31,68,0.6);
	--rgba-secondary-7: rgba(26,31,68,0.7);
	--rgba-secondary-8: rgba(26,31,68,0.8);
	--rgba-secondary-9: rgba(26,31,68,0.9);
	
	/* Other */
	--purple: #8C95D2;
	--blue: #281E8B;
	--dark: #232323;
	--title: #222222;
	--secondary: #1A1F44;
	--theme-text-color: #fff;
	
	/* Gradient */
	--gradient: linear-gradient(89deg, #FF51A4 1.12%, #eb187d 44%);
	--gradient-1: linear-gradient(90deg, #FF51A4 47.55%, #eb187d 100.15%);
	--gradient-2: linear-gradient(90deg, #FF51A4 0%, #eb187d 100%);
	
	/* Box Shadow */
	--primary-shadow: linear-gradient(90deg, #FF51A4 47.55%, #eb187d 100.15%);
	
	--theme1-bg-pattern1: url(../images/pattern/theme/bg-pattern3.html);
	--theme1-bg-pattern2: url(../../images/main-slider/slider2/background/bg2.png);
	
	--theme3-bg-color: #281E8B;
	--theme3-secondary: #232323;
	--theme3-secondary2: #111637;
	--secondary-dark : #212757;
}
